<table class="leaderboard" xmlns:th="http://www.thymeleaf.org">
    <tr>
        <th colspan="2">Leaderboard</th>
    </tr>
    <tr>
        <th>Who</th>
        <th>Score</th>
    </tr>
    <tr class="record" th:each="record : ${sudokuGame.leaderboard()}">
        <td>👤<a class="who"
                th:href="'https://github.com/' + ${record.getKey().substring(1, record.getKey().length())}"
                th:text="${record.getKey()}"></a></td>
        <td class="score" th:text="${record.getValue()}"></td>
    </tr>
</table>